.p1, .p2, .p3{
    opacity: 0;
}

@keyframes puntosCargando {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.p1 {
    animation: puntosCargando 1.5s infinite;
    animation-delay: 0s;
}

.p2 {
    animation: puntosCargando 1.5s infinite;
    animation-delay: 0.25s;
}

.p3 {
    animation: puntosCargando 1.5s infinite;
    animation-delay: 0.5s;
}