.ModalBox{
    
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;

    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;

    box-shadow:   -5px 0 0 0 #f9f9f9,
                  5px 0 0 0 #f9f9f9,
                  0 -5px 0 0 #f9f9f9,
                  0 5px 0 0 #f9f9f9;

    background-color: rgba(17, 17, 17, 0.8);
}

@media (max-width: 480px) {
    .ModalBox{
        width: 320px;
    }
}